<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Client</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/> *@
    @* <link rel="stylesheet" href="~/Client.styles.css" asp-append-version="true"/> *@
    <!-- Bootstrap -->
    <link href="~/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Datatables -->
    <link href="~/assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    
     <!-- Sweet Alert 2-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Supply Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="Index">Company</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="CompanyRegister">Company Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Vendor" asp-action="Index">Vendor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">User</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Client - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
@* *@
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
@* <script src="~/js/site.js" asp-append-version="true"></script> *@
<script>
console.log("test");

</script>

<!-- jQuery -->
<script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Datatables -->
<script src="~/assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="~/assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="~/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="~/assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

 <!-- Custom Theme Scripts -->
<script src="~/assets/build/js/custom.min.js"></script>

@if (ViewBag.Title == "Users Menu")
{
    <script src="~/data/dataUser.js"></script>
}

@if (ViewBag.Title == "Company Register Menu")
{
    <script src="~/data/dataCompanyRegister.js"></script>
}

@if (ViewBag.Title == "Company Menu")
{
    <script src="~/data/dataCompany.js"></script>
}


@* @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>